body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "~react-datepicker/dist/react-datepicker.css";
@import "~react-confirm-alert/src/react-confirm-alert.css";
.interviewer-details-form {
  margin-top: 5%;
  /* border: 1px solid rgb(255, 255, 255); */
  padding-top: 80px;
  padding-bottom: 40px;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background: white;
  margin-bottom: 20%;
}

.field {
  display: flex;
  margin-bottom: 60px;
}
.text-field {
  border: 0;
  border-bottom: 1.5px solid black;
  margin-left: 30px;
  width: 300px;
}
.signin-div {
}
.text-field:focus {
  outline: none;
}
.icon {
  padding-bottom: 0;
}
.proceed-button {
  background: rgb(76, 181, 76);
  border-radius: 40px;
  color: white;
  height: 35px;
  width: 300px;
  border: 0;
  margin-left: 57px;
}

.feedback-field {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 5px;
  height: 35px;
  font-size: 14px;
}
.feedback-field-label {
  height: 35px;
  padding: 0;
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 16px;
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 15px;
  padding: 0px 10px 2px 10px;
}
.feedback-form {
  margin-top: 2%;

  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 2%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.27), 0 6px 0px 0 rgba(0, 0, 0, 0.06);
  background: white;
  border-radius: 25px;
}
.exp-feedback-field {
  border: 1px solid rgba(0, 0, 0, 0.447);
}
.feedback-form-fields {
  margin-top: 50px;
}
.multi-select {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px;
}
.text-field-padding {
  padding: 0;
}
.row-vertical-space {
  margin-bottom: 60px;
}
.star {
  font-size: 22px;
}
.skill-label {
  font-size: 16px;
  color: rgb(39, 128, 196);
}
.submit-feedback {
  background: rgb(0, 104, 215);
  border-radius: 40px;
  color: white;
  height: 35px;
  width: 250px;
  border: 0;
  margin-top: 10px;
}
.status-label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 5px;
  margin-right: 30px;
}
.status {
  margin-right: 25px;
}
.border {
  /* border: 1px solid red; */
}
.choose-file {
  margin-bottom: 40px;

  margin: 0;
}
.control-file {
  display: none;
}
.comment-section {
  border: 1px solid black;
}
.radio-border {
  border: 0;
}
input[type="radio"] {
  border: 1px solid black;
  border-radius: 50%;
}
.home-jumbo {
  background-color: #0087b4;
  color: white;
  text-align: center;
}
.home-feedback {
  margin-top: 50px;
}

.card-name {
  padding-left: 6px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  height: 70px;
  padding-right: 2px;
}
.card-date {
  font-family: sans-serif;
  font-size: 15px;
  text-align: right;
  padding-left: 0;
  float: right;
}
.card-status {
  padding-left: 6px;
  font-family: sans-serif;
  font-size: 15px;
  float: left;
}
.eye {
  float: right;
  text-align: center;
  padding: 4px 6px;
}
.eye:hover {
  background: rgb(74, 123, 208);
  color: white;
}
.eye-in {
  font-size: 18px;
}
.login-button {
  display: flex;
}
.signup {
  display: flex;
  padding-left: 200px;
}
.signup-form {
  margin-top: 4%;
  /* border: 1px solid rgb(255, 255, 255); */
  padding-top: 40px;
  padding-bottom: 40px;
  height: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background: white;
}
.signup-select {
  border-radius: 0;
  color: transparent;
  text-shadow: 0 0 0 rgb(126, 126, 126);
  border-bottom: 1.5px solid black;
}
.signup-button {
  background: rgb(76, 181, 76);
  border-radius: 40px;
  color: white;
  height: 35px;
  width: 300px;
  border: 0;
  margin-left: 57px;
}
.approver-icon {
  font-size: 25px;
}
.sidebar-div {
  height: 100vh;
  width: 200px;
  position: fixed;
  background: rgba(235, 234, 234, 0.886);
}
.link {
  height: 70px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  color: black;
}
.active-class a {
  text-decoration: none;
  color: black;
}
.user {
  width: 100%;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #0087b4;
  font-weight: 500;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.link-div {
}
.link:hover {
  background: rgb(122, 122, 122);
  color: white;
  font-weight: 500;
  font-size: 19px;
}

.active-class {
  height: 70px;
  width: 100%;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgb(122, 122, 122);
}
.active-class :nth-child(1) {
  color: white;
  font-weight: 500;
  font-size: 19px;
}
.inactive-class {
  color: inherit;
}
/*  */
.admin-div {
  display: flex;
  flex-direction: row;
}
.details {
  width: 100%;

  margin-left: 205px;
  overflow-y: scroll;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.fixed {
}
.admin-details-heading {
  text-align: center;
  font-size: 30px;
}
.modal-back {
  background: white;
  padding-left: 30px;
}
.text-size {
  font-size: 18px;
}
.skill-row {
  margin-bottom: 10px;
}
.active-list {
  padding-top: 40px;
}
.interviewer-row {
  font-size: 20px;
  text-align: left;
}
.interviewer-row2 {
  font-size: 18px;
  text-align: left;
}
.interviewer-row2:hover {
  background: rgb(237, 236, 236);
}

.feedback-search {
  height: 40px;
  border-radius: 40px;
  border: 0;
  background: rgb(0, 104, 215);
  color: white;
  width: 100px;
  font-size: 16px;
}
.request-filter-active {
  height: 35px;
  border-radius: 40px;
  border: 0;
  background: rgb(0, 104, 215);
  color: white;
  width: 100px;
  font-size: 16px;
}
.request-filter-inactive {
  height: 35px;
  border-radius: 40px;
  border: 0;
  background: rgba(0, 104, 215, 0.454);
  color: white;
  width: 100px;
  font-size: 16px;
}
.request-filter-active:last-child {
  margin-left: 180px;
}
.request-filter-inactive:last-child {
  margin-left: 180px;
}
.request-feedback {
  border-radius: 40px;
  border: 0;
  background: rgb(0, 104, 215);
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 4px 8px;
}
.request-filter-div {
  text-align: center;
  margin-top: 40px;
}
.assign {
  height: 35px;
  border-radius: 40px;
  border: 0;
  background: rgb(0, 104, 215);
  color: white;
  width: 80px;
  font-size: 14px;
}
.assign:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.filter {
  margin-top: 25px;
}
.remove-button {
  border-radius: 4px;
  background: rgb(220, 62, 62);
  color: white;
  border: 0;
}
.row-overflow {
  margin-bottom: 0;
}
.feedback {
  height: 120px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 2px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  margin-left: 20px;
  margin-bottom: 45px;
  width: 280px;
}
.name {
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(60, 113, 177);
}
.name-tag {
  margin-left: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(60, 113, 177);
}
.no-feedback {
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
}
.logout {
  font-size: 18px;
  cursor: pointer;
}
.logout:hover {
  color: rgb(5, 101, 203);
}
.logout-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 30px;
}
.logout-icon {
}
.logout-text {
  margin-right: 8px;
}
.accept-button {
  border-radius: 4px;
  background: rgb(3, 152, 75);
  color: white;
  border: 0;
  margin-left: 10px;
  width: 70px;
}
.reject-button {
  border-radius: 4px;
  background: rgb(220, 62, 62);
  color: white;
  border: 0;
  margin-left: 4px;
  width: 70px;
}
.delete {
  text-align: center;
  padding: 4px 8px;
  float: right;
}
.delete:hover {
  background: rgb(198, 46, 46);
  color: white;
}
.add-button {
  height: 28px;
  margin-left: 5px;
  border-radius: 40px;
  background: rgb(0, 104, 215);
  color: white;
  border: 0;
  width: 75px;
}
.add-row {
  margin-bottom: 25px;
}
.add-field {
  border-radius: 4px;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  padding: 8px;
}
.delete-item:hover {
  color: rgb(208, 44, 44);
  cursor: pointer;
}
.filter-mode {
  font-size: 16px;
  margin-top: 40px;
}
.see-border {
  /* border: 1px solid red; */
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .name1 {
    font-size: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .name1 {
    font-size: 90px;
  }
}
@media only screen and (max-width: 650px) {
  .radio-inline {
    display: block;
  }
  .option2 {
    padding-left: 55px;
  }
  .option1 {
    margin-left: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .status-date {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 990px) {
  .reject-button {
    margin-left: 10px;
  }
}
th {
  width: 80px;
  height: 50px;
}
td {
  height: 45px;
  width: 50px;
  padding-top: 8px;
}
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
.spinner-container {
  width: 100%;
  height: 100vh;

  top: 0;
}
.spinner {
  margin-left: auto;
  margin-right: auto;

  width: 60px;
  text-align: center;
  float: center;
}
.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.591);
}
.react-confirm-alert-button-group > button {
  background: rgb(31, 31, 31);
  margin-top: 20px;
  font-size: 20px;
}
.react-confirm-alert-button-group > button:hover {
  background: rgb(71, 123, 201);
}

.react-confirm-alert-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 20px;
  width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  color: black;
}
.old-interview-icon:hover {
  background: rgb(74, 123, 208);
  color: white;
  cursor: pointer;
}
.old-interview-icon {
  font-size: 20px;
  padding: 10px;
}
.interview-reject {
  background: rgb(212, 45, 45);

  font-size: 19px;
  color: white;
  padding: 2px 7px;
  margin-left: 10px;
  border-radius: 50%;
}
.interview-reject:hover {
  background: red;
  cursor: pointer;
}
.empty {
  margin-left: 31%;
}
.applicant-name {
  text-align: center;
  font-size: 32px;
}
.feedback-date {
  float: right;
}
.info-type {
  font-weight: bold;
}
.filled-star {
  color: rgb(236, 213, 2);
}
.empty-star {
  color: rgba(0, 0, 0, 0.185);
}
.rating-td {
  display: flex;
  padding-left: 15px;
}

.feedback-details {
  margin-top: 30px;
}
.feedback-details td {
  text-align: left;
  padding-top: 0;
  font-size: 16px;
}
.feedback-details tr {
  border-style: hidden;
}
.experience-space {
  margin-right: 15px;
}
.change-password-button {
  height: 28px;
  margin-left: 5px;
  border-radius: 40px;
  background: rgb(0, 104, 215);
  color: white;
  border: 0;
  width: 150px;
  margin-top: 25px;
}
.change-password-table td {
  text-align: left;
}
.change-password-div {
  text-align: center;
}
.change-password-table label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
.error-message {
  color: red;
}
.old-details {
  height: 35px;
  padding: 0;
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.first-background {
  background: rgba(168, 168, 168, 0.61);
  height: -moz-calc(100%); /* Firefox */
  height: -webkit-calc(100%); /* Chrome, Safari */
  height: calc(100%); /* IE9+ and future browsers */
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
